<form [formGroup]="reactiveForm" (ngSubmit)="handlesubmit()">
  <input [formControlName]="'firstname'" />
  <small
    *ngIf="
      reactiveForm.get('firstname').errors?.['required'] &&
      reactiveForm.get('firstname').touched
    "
    >*First name is requierd</small
  >
  <small  *ngIf="reactiveForm.get('firstname').errors?.['spaceAllowed']">
    Space not allowed in firstname
  </small>
  <input [formControlName]="'lastname'" />
  <input [formControlName]="'email'" />
  <div formGroupName="address">
    <input formControlName="street" />
    <small
      *ngIf="
        reactiveForm.get('address.street').invalid &&
        reactiveForm.get('address.street').touched
      "
    >
      *street name is requierd
    </small>
    <input formControlName="pincode" />
    <small
      *ngIf="
        reactiveForm.get('address.pincode').invalid &&
        reactiveForm.get('address.pincode').touched
      "
    >
      *pincode is invalid
    </small>
  </div>
  <div formArrayName="skills">
    <div
      *ngFor="
        let skill of reactiveForm.get('skills')['controls'];
        let i = index
      "
    >
      <input
        type="text"
        placeholder="Enter Your Skill ..."
        [formControlName]="i"
      /><button (click)="handledele(i)">Delete</button>
    </div>
    <button (click)="AddFormControl()">Add</button>
    <p>Enter your experience</p>
    <button (click)="addexperience()">Add Experience</button>
    <div formArrayName="experience">
      <div
        *ngFor="
          let exp of reactiveForm.get('experience')['controls'];
          let i = index
        "
        formGroupName="i"
      >
        <input formControlName="experience" />
        <input formControlName="position" />
        <button (click)="handledelete(i)">Delete</button>
      </div>
    </div>
  </div>
  <button type="submit">Submit</button>
</form>
